$white-base: #f9fbf2;
$white-base-25: rgba(250, 251, 243, 0.25);
$white-base-10: rgba(250, 251, 243, 0.1);
$grey-text: #373B3D;
$lime: #bcf816;
$light-blue: #3599dc;
$dark-blue: #153243;
$dark-blue-50: rgba(21, 50, 67, 0.5);
$dark-blue-25: rgba(21, 50, 67, 0.25);

.lang-selector {
	grid-column: 1;
	position: relative;
	width: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 0.5rem;
	padding: 0.5rem 0;
	gap: 1rem;

	img {
		z-index: 1;
		cursor: pointer;
		width: 2.4rem;
		height: 1.6rem;
	}

	.background {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		width: 100%;
		height: 2.55rem;
		border-radius: 1rem;
		opacity: 0.25;
		background-color: $white-base-25;

		transition: top 300ms ease-in-out;
	}

	&.en .background {
		top: calc(100% - 2.55rem);
	}
}